<header>
	<section class="container">
		<div class="row">
			<div class="col-xs-6">
				<figure>
					<img src="../Images/logo.svg" class="img-responsive logo" alt="Modulr logo">
				</figure>
			</div>
			<div class="col-xs-6">
				<figure class="text-right">
					<img src="../Images/bg-blocks.svg" class="blocks" alt="Modulr blocks">
				</figure>
			</div>
		</div>
	</section>
	<section class="nav-links pebble-bg">
	<div class="container">
		<nav>
			<ul>
				<li class="active"><a href="#">Dashboard</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Admin</a></li>
			</ul>
		</nav>
	</div>
</section>
</header>

