// variavle.css

$pebble: #5C686D;
$black: #000000;
$wave: #3EA7DD;
$spray: #63F2CB;
$sand: #FEDF3B;
$sun: #F5B146;
$tide: #8ACBEB;
$wash: #9FF7DF;
$set: #F09329;
$ocean: #1D70B7;
$lagoon: #4DDCD9;
$white: #ffffff;

$mar-20: 20px;
$mar-30: 30px;
$pad-20: 20px;

$xs-screen:767px;
